@import url('/packages/Roboto/stylesheet.css');

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/** Source: https://stackoverflow.com/questions/22808040/fading-out-text-on-overflow-with-css-if-the-text-is-bigger-than-allowed */
.fade-on-overflow {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  }
    
/* Sources:
* - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
* - https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen
*/
.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-center-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 600px) {
    .hide-on-small-screens {
        display: none !important;
    }
}

@media only screen and (min-width: 601px) {
	.hide-on-big-screens {
		display: none !important;
	}
}
